// Colors
$primary-color-light: rgba(111, 210, 213, 0.8);
$primary-color-dark: rgba(41, 127, 167, 0.8);
$primary-color: rgba(55, 150, 185, 0.8); 
$secondary-color: rgba(85, 197, 122, 0.8);
$secondary-color-light: rgb(126, 213, 111);
$secondary-color-dark: rgb(40, 180, 133);
$tertiary-color-light: rgb(255, 185, 0);
$tertiary-color-dark: rgb(255, 119, 48);
$last-color-light: #23EAFF;
$last-color-dark: #2478E8;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: rgb(0, 0, 0);
$color-light-grey-1: #f7f7f7f7;
$color-light-grey-2: #eee;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Fonts
$default-font-size: 1.6rem;

// Border Radius
$border-radius: 3px;
