.section-about {
    background-color: $color-light-grey-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient( to right bottom, $primary-color-light, $primary-color-dark), url("../../img/beach.jpg");
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    // Skews just the row (which is the only child of the section-features div)
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $color-light-grey-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

}

.section-stories {
    padding: 15rem 0;
    position: relative;
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);
}

.booking {
    // The following background-image property is an example of a solid-gradient --> putting the second rgba() at 50% to match the 50% in the third property
    // allows us to cut off the gradient right at the halfway point
    background-image: linear-gradient(105deg, 
                    rgba($color-white, .9) 0%,
                    rgba($color-white, .9) 50%,
                     transparent 50%),
                      url(../../img/beach-4.jpeg);
    background-size: 100%;
    height: 50rem;
    border-radius: $border-radius;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

    &__form {
        width: 50%;
        padding: 6rem;
    }
}
